.root {
  display: flex;
  align-items: center;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #f644d1;
}

.info {
  padding-left: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name {
  color: #0f172a;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.company {
  font-size: 14px;
  line-height: 18px;
  color: #6a737c;
}